body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color:rgb(29, 26, 26);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    top:0;
    position: sticky;
}
header .logo img {
    height: 60px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: right;
}

section {
    padding: 2rem;
}

.image-container img {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    width: 40%;
    overflow:hidden;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    text-align: center;
}
.card:hover {
    transform: scale(1.05);
}

.hover-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.card:hover .hover-overlay {
    opacity: 1;
}
.about-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;
}
about{
    margin: 20px;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-content a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.7rem;
}

form input[type="submit"]:hover {
    background-color: #555;
}